.hero-image span {
    font-weight: bold;
}

.hero-image {

    height: 36rem;
    min-width: 100%;
    
    padding-top: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    background: url('/static/img/home_pic.jpg') no-repeat center;

    display: flex;
    flex-direction: column;
}

.hero-image-top {

    max-width: 78%;

    font-size: 2rem;
    color: #ededed;
    text-shadow: 3px 3px 3px black;

    margin: 12rem 0 2.5rem 0;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.hero-image div {
    display: flex;
    justify-content: center;
}


.hero-image-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features {
    margin: 80px 0 0 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.features ul li {
    width: 300px;
    float: left;
    margin-right: 10px;
    text-align: center;
    list-style: none;
}

#feature-1 img, #feature-2 img, #feature-3 img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.primary-content {
    /* background-color: #f8fafa; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

}

.primary-content h3 {
    display: block;
    margin: 0 auto 2rem auto;
    width: 25rem;
    /* border-bottom: 1px solid #02b8dd; */
    padding: 0 0 2rem 0;
}

.primary-content img {
    margin: 1rem 0;
    width: 0 auto;
}

.primary-content-text div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-content p {
    width: 80%;

}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}