.img-bicycle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.padding {
    padding-top: 25px;
    padding-bottom: 25px
}