{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/show.css'%}">
{% endblock  %}

{% block body %}

<img class="square" width="550px" src="{{image}}">
<form method ="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
                <input type="file" id="myFile" name="image_dir">
                </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <input type="submit" value="Submit">

            </div>
        </div>
    </div>
</div>
</div>
</div>
</form>

{% endblock  %}