{% extends 'layout/base.html' %}

{% block header %}

<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

{% endblock  %}

{% block body %}

<div class="container">
    <div class="col-6 my-5 ps-5">
        <div id='map' style='width: 500px; height: 400px;'></div>
    </div>
    <div class="col-6 my-5 pe-5">

    </div>
</div>

<script>
    const mapboxToken = "{{mapboxToken}}"
    const allBikes = {features : JSON.stringify({{all_bikes}})}  
</script>
{% endblock  %}