{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/show.css'%}">
{% endblock  %}

{% block body %}
<form action="update_profile/" method ="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{user.profile_image.url}}"><span class="font-weight-bold">{{user.username}}</span><span class="text-black-50">{{user.email}}</span><span><input type="file" id="myFile" name="profile_image">
                </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="{{user.first_name}}" value="{{user.first_name}}" name="first_name"></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" value="{{user.last_name}}" placeholder="{{user.last_name}}" name="last_name"></div>
                </div>
                <di class="row mt-3">
                    <div class="col-md-12"><label class="labels">Phone Number</label><input type="text" class="form-control" placeholder="{{user.phone_number}}" value="{{user.phone_number}}" name="phone_number"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="{{user.email}}" value="{{user.email}}" name="email"></div>
                    <div class="col-md-6"><label class="labels">Bio</label><input type="text" class="form-control" value="{{user.bio}}" placeholder="{{user.bio}}" name="bio"></div>
                </di>
                <input type="submit" value="Submit">

            </div>
        </div>
    </div>
</div>
</div>
</div>
</form>

{% endblock  %}