{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/show.css'%}">
{% endblock  %}

{% block body %}
 <div class = "row">
    <div class = "col-6 offset-3">
        <div class = "container">
            <img class = "img-bicycle" src="https://www.sefiles.net/images/library/large/brooklyn-bicycle-co.-franklin-7-202518-11.jpg" alt = "Sample Image" id = "img-bicycle">
            <h2>Bike Name</h2>
            <button class = "center" class = btn btn-outline btn-outline-dark>Rent</button>
            <h2 class = "margin">Description</h2>
            
            <p class = "margin">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste consequatur ipsam officiis ab incidunt sed beatae aperiam pariatur similique, aliquam nesciunt iusto! Dolor dolorum eum iure suscipit doloribus illum dolores.</p>
            
            <span class = "margin" style = "background-color: #A9A9A9 "> Cost <span>
            
                <p class = "margin">$20</p>
            <span class = "margin" style = "background-color: #A9A9A9 "> Comments <span>
            
            </div>
        </div>
    </div>
<div>
      
{% endblock  %}