{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/show.css'%}">
{% endblock  %}

{% block body %}
 <div class = "row">
    <div class = "col-6 offset-3">
        <div class = "container">
            <img class = "img-bicycle" src="https://www.sefiles.net/images/library/large/brooklyn-bicycle-co.-franklin-7-202518-11.jpg" alt = "Sample Image" id = "img-bicycle">
            <h2>Bike Name</h2>
            <button class = "center">Rent</button>
            <h2 class = "padding">Description</h2>
            <p class = "padding">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste consequatur ipsam officiis ab incidunt sed beatae aperiam pariatur similique, aliquam nesciunt iusto! Dolor dolorum eum iure suscipit doloribus illum dolores.</p>
            <h2 class = "cost" class = "padding">Cost</h2>
            <p class = "padding">$20</p>
            <p class = "padding"> Comments <p>
            <p class = "padding" class = "comments"
            </div>
        </div>
    </div>
<div>
      
{% endblock  %}