{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/show.css'%}">
{% endblock  %}

{% block body %}
<div class = "row">
    <div class = "col-6 offset-3">
        <div class = "container">
            <img class = "img-bicycle" src="https://www.sefiles.net/images/library/large/brooklyn-bicycle-co.-franklin-7-202518-11.jpg" alt = "Sample Image" id = "img-bicycle" onclick = "slideshow()">
            <script>
                var img_bicycle = new Array("", "", "");
                var num = 0;

                function slideshow() {
                    if (num == 2) {
                        num = 0;
                    }
                    else {
                        num++;
                    }
                    document.getElementById("img-bicycle").src=img_bicycle[num];
                }
            </script>

            <h2>Bike Name</h2>
            <button class = "center">Rent</button>
            <h2 class = "padding">Description</h2>
            <p class = "padding">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste consequatur ipsam officiis ab incidunt sed beatae aperiam pariatur similique, aliquam nesciunt iusto! Dolor dolorum eum iure suscipit doloribus illum dolores.</p>
            <h2 class = "padding">Cost</h2>
            <p class = "padding">$20</p>
        </div>
    </div>
</div>

      
{% endblock  %}