{% comment %} <div style="background-color:blue;"> {% endcomment %}
<h1>Hello World</h1>
{% comment %} </div> {% endcomment %}

<div style="background-color:red;">
    <h1>Hello World</h1>
</div>

<ul>
    <li>first bullet</li>
    <li>second bullet</li>
    <li>third bullet</li>
</ul>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores asperiores beatae ipsam nam aut, praesentium quasi molestiae quae ducimus sit tenetur quibusdam nihil minima iusto totam natus facilis? Ab, reprehenderit!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis minima aut est, ullam temporibus vel eum ab minus sed. Obcaecati sit saepe, officia placeat ullam eum enim minima minus natus.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore eius numquam fuga itaque reiciendis mollitia veniam at saepe cum corrupti, quisquam natus sunt libero facilis voluptatum iusto quas. Vero, deserunt.
</p>