<footer class="container pt-4 d-flex justify-content-center" style="background-color: #f8f9fa;">
    <div class="row d-flex justify-content-between">
        <div class="col-5 footer-info">
            <p>Copyright 2022 onlyBikes. <br> All rights reserved.</p>
            <p>
                <a href="">Terms of Service</a> | <a href="">Privacy</a>
            </p>
        </div>
        <div class="col-7 d-flex flex-row">
            <ul style="list-style: none;">
                <li><h4>General</h4></li>
                <li>Sign Up</li>
                <li>Help Center</li>
                <li>Blog</li>
            </ul>
            <ul style="list-style: none;">
                <li><h4>Company</h4></li>
                <li>About Us</li>
                <li>Meet the Team</li>
                <li>Careers</li>
            </ul>
            <ul style="list-style: none;">
                <li><h4>Privacy</h3></li>
                <li>User Agreement</li>
                <li>Cookie Policy</li>
                <li>Community Guidelines</li>
            </ul>
        </div>
    </div>
</footer>