{% load static %}

<header class="container">
    <nav class="navbar navbar-expand-lg bg-light mt-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img id="logo" src="{% static '/img/logo.png' %}" alt="">
          </a>
          <div class="links">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/index">Bike Rentals</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/leaderboard">Leaderboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="/login/auth0">Login</a>
                    </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
          </div>
        </div>
      </nav>
</header>